:root {
  --white: #fff;
  --black: #000;

  --green-100: #fdfffa;
  --green-200: #f9fff0;
  --green-300: #f5ffe5;
  --green-400: #ecffcc;
  --green-500: #d8ff99;
  --green-600: #c5ff66;
  --green-700: #b1ff33;
  --green-800: #9eff00;

  --grey-100: #e6e6e6;
  --grey-200: #98989a;
  --grey-300: #656567;
  --grey-400: #59595a;
  --grey-500: #4c4c4d;
  --grey-600: #333333;
  --grey-700: #262626;
  --grey-800: #1a1a1a;

  --rounded-sm: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;

  /* Step -2: 9.7222px → 11.52px */
  --fs--2: clamp(0.6076rem, 0.5755rem + 0.1605vw, 0.72rem);
  /* Step -1: 11.6667px → 14.4px */
  --fs--1: clamp(0.7292rem, 0.6804rem + 0.244vw, 0.9rem);
  /* Step 0: 14px → 18px */
  --fs-0: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
  /* Step 1: 16.8px → 22.5px */
  --fs-1: clamp(1.05rem, 0.9482rem + 0.5089vw, 1.4063rem);
  /* Step 2: 20.16px → 28.125px */
  --fs-2: clamp(1.26rem, 1.1178rem + 0.7112vw, 1.7578rem);
  /* Step 3: 24.192px → 35.1563px */
  --fs-3: clamp(1.512rem, 1.3162rem + 0.979vw, 2.1973rem);
  /* Step 4: 29.0304px → 43.9453px */
  --fs-4: clamp(1.8144rem, 1.5481rem + 1.3317vw, 2.7466rem);
  /* Step 5: 34.8365px → 54.9316px */
  --fs-5: clamp(2.1773rem, 1.8184rem + 1.7942vw, 3.4332rem);

  --font-primary: "Barlow", sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;

  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2321rem + 0.0893vw, 0.3125rem);
  /* Space 2xs: 7px → 9px */
  --space-2xs: clamp(0.4375rem, 0.4018rem + 0.1786vw, 0.5625rem);
  /* Space xs: 11px → 14px */
  --space-xs: clamp(0.6875rem, 0.6339rem + 0.2679vw, 0.875rem);
  /* Space s: 14px → 18px */
  --space-s: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
  /* Space m: 21px → 27px */
  --space-m: clamp(1.3125rem, 1.2054rem + 0.5357vw, 1.6875rem);
  /* Space l: 28px → 36px */
  --space-l: clamp(1.75rem, 1.6071rem + 0.7143vw, 2.25rem);
  /* Space xl: 42px → 54px */
  --space-xl: clamp(2.625rem, 2.4107rem + 1.0714vw, 3.375rem);
  /* Space 2xl: 56px → 72px */
  --space-2xl: clamp(3.5rem, 3.2143rem + 1.4286vw, 4.5rem);
  /* Space 3xl: 84px → 108px */
  --space-3xl: clamp(5.25rem, 4.8214rem + 2.1429vw, 6.75rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 9px */
  --space-3xs-2xs: clamp(0.25rem, 0.1607rem + 0.4464vw, 0.5625rem);
  /* Space 2xs-xs: 7px → 14px */
  --space-2xs-xs: clamp(0.4375rem, 0.3125rem + 0.625vw, 0.875rem);
  /* Space xs-s: 11px → 18px */
  --space-xs-s: clamp(0.6875rem, 0.5625rem + 0.625vw, 1.125rem);
  /* Space s-m: 14px → 27px */
  --space-s-m: clamp(0.875rem, 0.6429rem + 1.1607vw, 1.6875rem);
  /* Space m-l: 21px → 36px */
  --space-m-l: clamp(1.3125rem, 1.0446rem + 1.3393vw, 2.25rem);
  /* Space l-xl: 28px → 54px */
  --space-l-xl: clamp(1.75rem, 1.2857rem + 2.3214vw, 3.375rem);
  /* Space xl-2xl: 42px → 72px */
  --space-xl-2xl: clamp(2.625rem, 2.0893rem + 2.6786vw, 4.5rem);
  /* Space 2xl-3xl: 56px → 108px */
  --space-2xl-3xl: clamp(3.5rem, 2.5714rem + 4.6429vw, 6.75rem);

  /* Custom pairs */
  /* Space 3xs-2xs: 4px → 9px */
  --space-3xs-2xs: clamp(0.25rem, 0.1607rem + 0.4464vw, 0.5625rem);
  /* Space s-s: 14px → 18px */
  --space-s-s: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
  /* Space s-l: 14px → 36px */
  --space-s-l: clamp(0.875rem, 0.4821rem + 1.9643vw, 2.25rem);
  /* Space s-2xl: 14px → 72px */
  --space-s-2xl: clamp(0.875rem, -0.1607rem + 5.1786vw, 4.5rem);
  /* Space m-xl: 21px → 54px */
  --space-m-xl: clamp(1.3125rem, 0.7232rem + 2.9464vw, 3.375rem);

  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in: cubic-bezier(0.75, 0, 1, 1);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease: cubic-bezier(0.44, 0.21, 0, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background-color: var(--grey-800);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

input,
textarea {
  font: inherit;
  white-space: normal;
  vertical-align: middle;
  background: none;
  border: 0;
  outline: none;
}

textarea {
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
}

p {
  line-height: 1.5;
}

.Toastify__toast {
  background-color: var(--green-800) !important;
  color: var(--black) !important;
}